body {margin:0; padding: 0; background-color: #dbdbdb; font-family: 'cengoth'; min-width: 600px;}
a:link {text-decoration: none;}
.invisible {opacity: 0;}

#mobile-nav{position: fixed;left:-600px;top:0;
            height:100%;width: 600px;
            background-color:white; 
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 1;}

#mobile-nav:before{content: url(../img/intro1.jpg); width:100%;}

#nav-bar{ position: fixed; height: 160px; width: 100%; top: 0; background-color: green;min-width: 600px;}
.button img { width:100px; height:100px;}
.close-button {position: absolute; top: 30px; left:30px;}
.open-button {display: inline-block; position: relative; top:30px; left:30px;}
#nav-bar p {display: inline-block; font-size: 60px; color:white; padding-left: 50px; margin: 0;}

#profile {  height: 150px;
              margin: -60px 0 30px 220px;
              border:5px solid white; 
              border-radius: 300px; z-index: 1;
              box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);}

#intro { width:100%;
         text-align: center; color: #575757;}
#hello h1 {font-size: 5em; margin: 0;}
#hello h2 {font-size: 2em; margin: 10px 0 20px 0;}
#hello h4 {font-size: 1.3em; margin: 0; }
#lang {display: none;}

nav {position: absolute; top: 850px; width: 100%;}
.menu-item{ height:100px; border-top: 1px solid #d1d1d1}
.menu-item p {font-size: 30px; color:#575757;  display: inline; position: relative; top:35px; left: 80px;}

section, .pic, #idiomas, #softwares, #codes, #work, #contact {text-align: center; width: 95%; margin: auto; background-color: white; box-shadow: 0px 0px 4px rgba(0, 0, 0, .5); border-top: 8px solid; border-radius: 5px; color: #575757; margin-bottom: 20px;}


section { border-top-color: green; margin-top: 300px;}
section h1 {font-size: 40px; }
section p {font-size: 20px; padding-bottom: 40px; width: 90%; margin: auto;}

.pic {border-top-color: #ffd000;padding-top: 60px; padding-bottom: 60px;}
.pic img {width: 50%;}

#idiomas{border-top-color: #16a085; }
#softwares{border-top-color: #f1c40f;}
#codes{border-top-color: #f39c12;}

.container {width:96%; margin-left: auto; margin-right: auto; border-radius: 10px;}
.container:after{
    content: ".";
    width: 100%;
    height: 20px;
    display: block;
    background-color: white;}

#container1 {background-color: #16a085; }
#container1 img {width: 28%; padding: 10px;}
#container2 {background-color: #f1c40f; }
#container2 img {width: 18%; padding: 15px;}
#container3 {background-color: #f39c12; }
#container3 h2 {display: inline-block; width: 24%; color: white;}

#work{border-top-color: green;}
#work h1 {padding-bottom: 30px; padding-top: 20px;}
#work img {width:75%;padding: 10px;}
#gap{height:40px; width:100%;}
#mapcanvas, #mailme {display: none;}
#findme {padding: 20px;}
#contact img{width:100px;padding: 20px;}

#contact {margin-bottom: 100px;}
